@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap');

:root {
    --color-font-text: #42D3FF;
    --color-line-legend: #E6E6F0;
    --color-font-label: #4E4958;
    --color-font-span: #686868;
    --color-font-spanHover: #242424;
    --color-line-footer: #D6D6D6;

    --color-background-header: #121214;
    --color-background-body: #E5E5E5;
    --color-background-form: #FAFAFC;
    --color-background-footer: #F0F0F4;
    --color-background-button: #04D361;
    --color-background-buttonHover: #0e974c;

    --font-destaque-archivo: 'Archivo', sans-serif;
    --font-padrao-poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-padrao-poppins);
    background: var(--color-background-body);
}

body::before {
    content: '';
    width: 100%;
    height: 360px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: var(--color-background-header);
}

#page {
    width: 740px;
    margin: 0 auto 0;
}

header {
    width: 320px;
    margin-top: 75px;
}

header h1 {
    font-family: var(--font-destaque-archivo);
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;

    margin-bottom: 24px;
}

header p {
font-size: 16px;
line-height: 26px;

color: var(--color-font-text);
}

form {
    background: var(--color-background-form);
    margin-top: 38px;
    border-radius: 8px 8px 0 0 ;
    min-height: 300px;

    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--color-font-label);
}

fieldset legend {
    font-family: var(--font-padrao-poppins);
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    border-bottom: 1px solid var(--color-line-legend) ;

    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: var(--color-font-label);

    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 12px;
    line-height: 20px;

    color: var(--color-font-span);
}

.input-wrapper label span:hover {
    color: var(--color-font-spanHover);
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
    border: 1px solid var(--color-line-legend);
    border-radius: 8px;

    height: 56px;

    padding: 0 24px;

    font-family: var(--font-padrao-poppins);
    font-size: 16px;
    line-height: 26px;

    color: var(--color-font-spanHover);
}

.input-wrapper textarea {
    height: 168px;
    padding: 12px 16px;
}

.input-wrapper select {
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;

    color: var(--color-font-label);
}

.day-hour {
    display: flex;
    gap: 20px;

    color: var(--color-font-label);
}

.day-hour div:nth-child(1) {
    width: 100%;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;
    
    margin: 0;
}
.checkbox-wrapper input {
    position: absolute;
    /* z-index: -1;    */
    opacity: 0;

    width: 24px;
    height: 24px;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;

    border: 1px solid var(--color-line-legend);
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

footer {
    background: var(--color-background-footer);
    
    height: 136px;

    display: flex;
    flex-direction: column;

    padding: 40px 64px;

    margin-bottom: 100px;

    border-top: 1px solid var(--color-line-footer);

    border-radius: 0 0 8px 8px;
}

footer .button {
    height: 56px;
    
    background: var(--color-background-button);
    
    border-radius: 8px;
    border: 0;

    font-family: var(--font-destaque-archivo);
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    color: white;

}

footer .button:hover {
    background:var(--color-background-buttonHover);
}