@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

    font-size: 6.25%;
    --font-size-standard: 16rem;

    --font-standard: 'Roboto', sans-serif;
    
    
    --hue-text: 240;
    --color-text: hsl(var(--hue-text), 6%, 21%);
    --color-text-select: #FFF;

    --hue-background: 0;
    --color-background-body: hsl(var(--hue-background), 0%, 95%);
    --color-background-imgNone: hsl(var(--hue-text), 9%, 89%);
    --color-background-imgSelect: rgb(3, 120, 156);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size-standard);
    font-family: var(--font-standard);
    
    color: var(--color-text);   

    background: var(--color-background-body);

    height: 70vh;

    padding: 196rem 296rem;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 192rem;
    
    width: 821rem;
    height: 336rem;
}

main {
    width: 321rem;
    height: 213rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 48rem;
}

main .timer {
    font-weight: 500;
    font-style: normal;
    font-size: 126rem;
    line-height: 148rem;
    text-align: center;
    text-transform: uppercase;
    
    
    width: 321rem;
    height: 117rem;
    
    text-align: center;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.timerSelect {
    color: var(--color-background-imgSelect);
    transition: 200ms;
}

.timerSelectOff {
    color: var(--color-text);
    transition: 200ms;
}

button {
    border: none;
    background: none;

    cursor: pointer;
}

main .controls{
    width: 312rem;
    height: 48rem; 
    
    display: flex;
    gap: 40rem;

    
}

.controls button {
    width: 48rem;
    height: auto;
}

.controls svg path {
    fill: var(--color-text);
}

aside.cards{
    width: 308px;
    height: 336px;

    display: grid;
    grid-template-areas: "A B" 
                         "C D";
    gap: 32rem;
}

.cards svg path {
    fill: var(--color-background-imgNone);
}

.cards svg path:nth-child(2) {
    fill: var(--color-text);
}

.select svg path {
    fill: var(--color-background-imgSelect);
    transition: 100ms;
}

.select svg path:nth-child(2) {
    fill: var(--color-text-select);
}