@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');


:root {
    --font-title: 'Staatliches', cursive;
    --font-text: 'Palanquin', sans-serif;
    
    font-size: 6.25%;
    --font-size-body: 16rem;
    
    --color-black: #000;
    --color-white: #FFF;

    --color-text: #23053A;
    --color-primary1: #4A4E69;
    --color-primary2: #8E9AAF;
    --color-primary3: #CBC0D3;
    --color-secondary1: #EFF1FF;
    --color-secondary2: #FEEAFA;
    --color-background: #E5E5E5;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    
    background: var(--color-background);
    
    color: var(--color-white);
    font-size: var(--font-size-body);

    padding: 16rem;
}

.page {
    max-width: 1280rem;
    height: 720rem;

    margin: 0 auto;
    
    background: var(--color-secondary1);

    display: flex;
}

header {
    text-align: center;
    
    width: 377rem;
    height: 720rem;
    
    background: var(--color-primary2);
    
    padding-bottom: 32rem;
}

header img { 
    
    width: 237rem;
    height: 137rem;
    
    margin-top: 32rem;
    
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
    
    font-family: var(--font-title);
    font-size: 40rem;
    font-weight: 400;
    
    letter-spacing: 0.05rem;
    
    color: var(--color-white);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
    background: var(--color-primary3);
    
    height: 49rem;
    
    margin-top: 32rem;
    margin-bottom: 24rem;
}

header p {
    color: var(--color-white) ;

    width: 275rem;
    
    margin-bottom: 16rem;

    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    line-height: 25rem;

    margin: 32rem auto 0;
}
.main-page {
    display: flex;
    flex-direction: column;

    padding: 40rem 60rem;
}

main {
    display: grid;
    grid-template-areas: 'A B C' 
                         'D B F' 
                         'D E F';
    gap: 32rem;

}

main :nth-child(1) {
    grid-area: A;
}

main :nth-child(2) {
    grid-area: C;
}

main :nth-child(3) {
    grid-area: B;
}

main :nth-child(4) {
    grid-area: E;
}

main :nth-child(5) {
    grid-area: D;
}

main :nth-child(6) {
    grid-area: F;
}

.card {
    position: relative;
}

.card img {
    width: 220rem;
    height: auto;

    object-fit: cover;

    animation-name: downTop;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;

    opacity: 0.95;
    transition: 100ms;
}

.card img:hover {
    opacity: 1;
}

.card h2 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 20rem;
    line-height: 34rem;
    letter-spacing: 0.05rem;

    width: 112rem;
    height: 35rem;
    
    position: absolute;
    left: 190rem;
    top: 16rem;

    color: var(--color-primary1);
    background: #FEEAFA;
    border-radius: 20px;

    padding: 8rem 24rem;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: topDown;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 28rem;

    text-align: center;

    color: #4A4E69;

    mix-blend-mode: normal;

    margin-top: 50rem;
}

@keyframes topDown {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }

    50% {
        opacity: 0;
        transform: translateY(-15%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downTop {
    0% {
        opacity: 0;
        transform: translateY(115%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* 
@media (min-width: 600px) {
    .page {
        max-width: 1280rem;
        height: 720rem;

        display: flex;
    }

    header {
        width: 377px;
        height: 720px;
    }
    
    header p {
        font-size: 24rem;
        line-height: 48rem;
    }
    
    header h1 {
        font-size: 60rem;
        line-height: 72rem;

        margin-top: 27rem;
    } */

    /* .page main {
        display: grid;
        grid-template-areas: "A B B" "C C D";
    }

    .page main section:nth-child(1) {
        grid-area: A;
    }

    .page main section:nth-child(2) {
        grid-area: B;
    }
    
    .page main section:nth-child(3) {
        grid-area: C;
    }
    
    .page main section:nth-child(4) {
        grid-area: D;
    }     */
