@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background-image: url('images/mountains-universe-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 40px 72px;
}

header nav ul{
    display: flex;
    gap: 32px;

    font-size: 24px;
    
    list-style: none;
}

a {
    color: #C4C4CC; 
    text-decoration: none;
}

a.active {
    color: #FFF;
}

a:hover {
    color: rgb(219, 219, 219);
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}