@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    font-size: 6.25%;

    --color-text: #303030;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-size: 16rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    background: rgba(250, 255, 255);
}

button {
    background: var(--primary-color);    
}

.app {
    max-width: 600rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hide {
    /* display: none; */
    visibility: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}