@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 72px;
}

body .page {
    background-image: url('images/mountains-universe-1.png');
    background-repeat: no-repeat;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    color: #FFF;

    width: 1280px;
    height: 720px;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;

    padding: 40px 72px;
}

header nav ul{
    display: flex;
    gap: 32px;

    font-size: 24px;
    
    list-style: none;
}

main {
    margin-top: 100px;
    margin: 63px 102px;
}

a {
    color: #c4c4cccb; 
    text-decoration: none;
}

a.select {
    color: #FFF;
}

a:hover {
    color: rgb(219, 219, 219);
}

.page-1-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    margin-top: 160px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    
    width: 648px;
}

button {
    padding: 12px;

    width: 195px;
    height: 48px;

    border: 2px solid #FFFFFF;
    border-radius: 5px;

    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;

    background-color: transparent;
    
    cursor: pointer;

    
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
} 