@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');


:root {
    --font-title: 'Staatliches', cursive;
    --font-text: 'Palanquin', sans-serif;

    font-size: 62.5%;
    --font-size-body: 1.6rem;

    --color-black: #000;
    --color-white: #FFF;

    --color-text: #23053A;
    --color-primary1: #4A4E69;
    --color-primary2: #8E9AAF;
    --color-primary3: #CBC0D3;
    --color-secondary1: #EFF1FF;
    --color-secondary2: #FEEAFA;
    --color-background: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);

    background: var(--color-background);

    color: var(--color-white);
    font-size: var(--font-size-body);

    padding: 1.6rem;
}

.page {
    max-width: 38.4rem;
    margin: 0 auto;

    background: var(--color-secondary1);
}

header {
    text-align: center;

    max-width: 38.4rem;
    height: 27.9rem;

    background: var(--color-primary2);

    padding-bottom: 3.2rem;
}

header img {

    width: 23.7rem;
    height: 13.7rem;

    margin-top: 3.2rem;

    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {

    font-family: var(--font-title);
    font-size: 4.0rem;
    font-weight: 400;

    letter-spacing: 0.005rem;

    color: var(--color-white);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    background: var(--color-primary3);

    height: 4.9rem;

    margin-top: 1.4rem;
    margin-bottom: 2.4rem;
}

main {
    padding: 1.6rem 3.2rem;

    width: 32.0rem;
    height: 179.5rem;

    margin: 0 auto;

    text-align: center;
}

main p {
    color: var(--color-text) ;

    margin-bottom: 1.6rem;

    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.card {
    position: relative;
}

.card img {
    width: 32.0rem;
    height: auto;

    object-fit: cover;

    animation-name: downTop;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;

    opacity: 0.95;
    transition: 100ms;
}

.card img:hover {
    opacity: 1;
}

.card h2 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;
    letter-spacing: 0.005rem;

    width: 11.2rem;
    height: 3.5rem;

    position: absolute;
    left: 19.0rem;
    top: 1.6rem;

    color: var(--color-primary1);
    background: #FEEAFA;
    border-radius: 2.0px;

    padding: .8rem 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: topDown;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

@keyframes topDown {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }

    50% {
        opacity: 0;
        transform: translateY(-15%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downTop {
    0% {
        opacity: 0;
        transform: translateY(115%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 700px) {
    .page {
        max-width: 128.0rem;
        height: 112.0rem;

        margin: 0 auto;
    }

    header {
        max-width: 128.0rem;
        height: 360px;
    }

    header img {
        width: auto;
        height: 20.0rem;
    }

    header h1 {
        font-size: 6.0rem;

        height: 6.4rem;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2.4rem;
    }

    main {
        max-height: 72.0rem;
        width: 108.0rem;

        padding: 3.2rem;

        display: grid;
        grid-template-columns: 1fr 2fr;

    }

    main :nth-child(1) {
        min-width: 24.0rem;
        font-size: 2.4rem;
    }


    div#cards {
        display: grid;
        grid-template-areas: 'A B' 'C B' 'C D';
        gap: .8rem;
    }

    .card img{
        width: 28.0rem;
        height: auto;

        margin: 1.6rem;

        object-fit: cover;
    }

    div#cards :nth-child(1) {
        grid-area: A;
    }

    div#cards :nth-child(2) {
        grid-area: B;
    }

    div#cards :nth-child(4) {
        grid-area: C;
    }

    div#cards :nth-child(3) {
        grid-area: D;
    }

    .card h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        top: 3.2rem;
        left: 17.2rem;
    }
}