@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,700;0,800;1,400&display=swap');

:root {
    --font-standard: 'Epilogue', sans-serif;
    --font-sans: 'Open sans', sans-serif;
    
    font-size: 6.25%;
    --font-size-body: 16rem;
    
    --hue: 237;
    --color-bg: hsl(var(--hue), 22%, 20%);
    --color-font1: #FFFFFF;
    --color-font2: hsl(var(--hue), 50%, 80%);
    --color-font3: hsl(var(--hue), 100%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-standard);
    background: var(--color-bg);
    color: var(--color-font1);
    
    font-size: var(--font-size-body);
}

.page {
    max-width: 330rem;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 100rem 0 80rem;

    animation-name: topDown;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

header p {
    color: var(--color-font2);
    text-transform: uppercase;

    line-height: 32rem;
    letter-spacing: 3rem;

    margin-bottom: 17rem;

    font-weight: 400;
}

h1 {
    font-size: 40rem;
    line-height: 48rem;

    font-weight: 800;
}

main {
 display: flex;
 flex-direction: column;
 gap: 23rem;   
}

.card {
    position: relative;
    font-family: var(--font-sans);


    animation-name: downTop;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
}

section.card img {
    width: 100%;
    height: auto;

    object-fit: cover;

    border-radius: 6rem;

    transform: transform 300ms;

    opacity: 0.8;
}

section.card img:hover {
    /* transform: scale(1.1); */
    opacity: 1;
}


section.card h2 {
    position: absolute;
    bottom: 52rem;
    left: 28rem;

    font-size: 40rem;
    font-weight: 800;

    display: flex;
    flex-direction: column;
    gap: 10rem;

    text-shadow: 1rem 1rem 1rem black;
}

section.card h2 span {
    border-radius: 20rem;
    
    background: var(--color-font1);
    
    font-size: var(--font-size-body);
    font-weight: 400;
    color: var(--color-font3);
    
    padding: 0 16rem;
    height: 38rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    text-shadow: none;
}

@keyframes topDown {
    
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes downTop {
    
    0% {
        opacity: 0;
        transform: translateY(115%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 600px) {
    .page {
        max-width: 900rem;
        padding: 0 35rem;
    }
    
    header p {
        font-size: 24rem;
        line-height: 48rem;
    }
    
    header h1 {
        font-size: 60rem;
        line-height: 72rem;

        margin-top: 27rem;
    }

    .page main {
        display: grid;
        grid-template-areas: "A B B" 
                             "C C D";
    }

    main :nth-child(1) {
        grid-area: A;
    }

    main :nth-child(2) {
        grid-area: B;
    }
    
    main :nth-child(3) {
        grid-area: C;
    }
    
    main :nth-child(4) {
        grid-area: D;
    }
    
    section.card img {
        width: auto;
        height: 180rem;
    }
}