@charset "utf-8";

:root {
    --cor1:#050866;
    --cor2:#090FB3;
    --cor3:#0B13E6;
    --cor4:#242666;
    --cor5:#5257EA;
    --cor6:rgb(1, 2, 59);
    --cor7:rgb(100, 100, 100);

    --font-padrao:arial, verdana, helvetica, sans-serif;
    --font-destak:arial, verdana, helvetica, sans-serif;
}

body {
    background: lightyellow;
}