@import url('https://fonts.googleapis.com/css2? family= Mulish:wght@400;700 & family= Open+Sans:wght@400;700 & display=swap');

/* 
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, rgb(227, 255, 248, 0), rgb(227, 255, 248, .4));

    min-height: 100vh;
}

#page {
    width: 900px;
    margin: 0 auto 0;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
}

ul {
    list-style: none;
    
    display: flex;
    gap: 40px;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1f1534;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

ul, h1 {
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font: 50px;
    line-height: 30px;
    font-weight: normal;
    color: #1f1534;

    /* width: 260px; */
}

h1 span {
    font-weight: bold;
    color: #89c5cc;
}

section p {
   font-size: 14px;
   line-height: 28px;
   color: #7d7987;
   
   margin: 40px auto 40px;
}

button {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 14px 32px;

    color: white;
    background-color: #69b99d;

    border: 0px solid #7d7987;
    border-radius: 4px;

    cursor: pointer;
}

button:hover {
    background-color: #569c84;
}

footer {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;

    text-align: center;
    margin-top: 80px;
}
footer a {
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
    
}