@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --color-font: #000000;
    --color-dark-blue: #293241;
    --color-salmon: #F67669;
    --color-light-blue: #BFD7E4;
    --color-font-header: #FFFFFF;
    --color-background-input: #E6E6F0;

    --font-primary: 'Staatliches', cursive;
    --font-second: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-second);
    background: var(--color-light-blue);

    padding: 5rem;

    position: relative;
}

body::before {
    content: '';
    width: 100%;
    height: 465px;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    background: var(--color-dark-blue);
}

#page {
    width: 750px;
    margin: 0 auto;
}
header {
    color: var(--color-font-header);
    text-align: center;
}

header h1 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    
    /* margin-top: 107px; */
    
}

header p {
    font-size: 16px;
    line-height: 24px;
}

header img {
    margin: 32px auto 163px;
}

main {
    background: white;
    height: 1075px;

    padding: 32px 64px;

    border-radius: 0 0 20px 20px;
}

.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: none;

    display: flex;
    flex-direction: column;
}

section#name {
    display: flex;
    gap: 22px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2 {

    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    
    width: 750px;
    height: 133px;

    margin: 0 auto;

    background: #F67669;
    border-radius: 20px 20px 0px 0px;

    position: absolute;
    top: 332px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    
    color: #4E4958; 
}

input {
    background: #FAFAFC;
    width: 300px;
    height: 56px;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    padding: 8px 16px;
}

section#email {
    margin-top: 16px;
}

#input-email {
    width: 622px;
}

span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #C1BCCC;
}

fieldset#mentor-information {
    margin-top: 32px;

    width: 622px;
    height: 444px;
}

legend {
    color: var(--color-dark-blue);
    
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    border-bottom: 1px solid #E6E6F0;
    width: 622px;

    padding-bottom: 8px;

    text-align: center;
}

#input-mentorName {
    width: 300px;
}

textarea {
    background: #FAFAFC;
    width: 608px;
    height: 166px;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    padding: 8px 16px;
}

fieldset#mentor-information label {
    margin-top: 32px;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;
    
    margin: 0;
}
.checkbox-wrapper input {
    position: absolute;
    /* z-index: -1;    */
    opacity: 0;

    width: 24px;
    height: 24px;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;

    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.next-scheduling {
    width: 622px;
    height: 162px;
    
    margin-top: 36px;
}

.day-hour {
    display: flex;
    gap: 20px;

    width: 622px;

    /* color: var(--color-font-label); */

    margin-top: 32px;
}

.day-hour div:nth-child(1) input {
    width: 300px;
}

.day-hour div:nth-child(2) input {
    width: 140px;
}

.day-hour div:nth-child(3) input {
    width: 140px;
}

button {    
    padding: 15px 40px;

    width: 622px;
    height: 51px;

    background: #F67669;
    border-radius: 8px;

    margin: 64px auto;

    border: none;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

button:hover {
    background: #db675a;
    cursor: pointer;
}